.container {
    position: relative;
    margin: 100px;
}

.heart-1 {
    background-color: pink;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    right: 50%;

}

.heart-2 {
    background-color: pink;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;

}

.heart-3 {
    background-color: pink;
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    position: absolute;
    left: 46%;
    top: 50px;
}